.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 200px;
	/* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}


form {
	display: block;
	margin: auto;
	margin-top: 10px;

}

form > input[type="text"] {
	width: 200px;
	height: 30px;
	border: 1px solid rgba(204, 204, 204, 0.291);
	border-radius: 5px;
	background-color: rgb(90, 90, 90);
	padding: 0 10px;
	font-size: 16px;
}

button.search[type="submit"] {
	width: 50px;
	height: 30px;
	background-color: #9297e0;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button.search[type="submit"]:hover {
	background-color: #ff73b3;
}

.clearfix {
	clear: both;
}